*{
    padding: 0;
    margin: 0;
}
.img{
    
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(garrett-parker-DlkF4-dbCOU-unsplash.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    height: 100px;
    width: 100%;
  
    display: flex;
    justify-content: space-between;

}
.logo{
    color:rgb(229, 122, 22) ;
    margin-left: 10px;
    cursor: pointer;

}
.list ul li{
    display: inline-block;
    margin: 10px;
   

}
.list ul li a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}
.list ul li a::before{
    content: '';
    height: 2px;
    top: -8px;
    width: 0%;
    background-color: aliceblue;
    position: absolute;
    transition: 0.5s;
}
.list ul li a:hover::before{
    width: 100%;
  transition: 0.5s;
}
.list ul li a::after{
    content: '';
    height: 2px;
    width: 0%;
    right: 0;
    bottom: -8px;
    background-color: aquamarine;
    position: absolute;
    transition: 0.5s;
}
.list ul li a:hover::after{
    width: 100%;
    
    transition: 0.5s;
}
.content{
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: transparent;
    border: 1px solid aliceblue;
    border-radius: 10px;
    box-shadow:-10px 10px 50px aliceblue ;
}
.content form{
    margin: 15px;
     
}
.content input{
    width: 350px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    border:  1px  solid rgb(215, 132, 8);
    border-radius: 10px;
    font-size: 10px;
    background: transparent;
    text-align: center;
    transition: 1s;
    outline: none;
    

}
.content input::placeholder{
    color:aliceblue;
}

 .button{
    width: 200px;
    height: 50px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 80px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    background: transparent;
    color:aliceblue;
    background-color: rgba(106, 106, 242,0.1);
    transition: 0.5s;
    
    
}
 h3{
  color: aliceblue;
    margin-top: 30px;
    margin-left: 15px;
}
h3 a{
    color:rgb(229, 122, 22);
    
}
.button:hover{
     background-color: rgba(106, 106, 242);
    
}
input:hover{
    background-color:rgba(106, 106, 242);
}

@media screen and (min-width:300px){
    .logo{
        color: rgb(24, 2, 5);
        font-size: 10px;
    }
    .list ul li{
        display: inline-block;
        margin-left: 0px;
        font-size: 7px;
        
    }
    .list ul li a{
        text-decoration: none;
        color: rgb(222, 60, 187);
        
    }
    .img{
    
        height: 100vh;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(garrett-parker-DlkF4-dbCOU-unsplash.jpg); 
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    h3{
        font-size: 15px;
    }
    .content{
        height: 450px;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        background: transparent;
        border: 1px solid aliceblue;
        border-radius: 10px;
        box-shadow:-10px 10px 50px aliceblue ;
    }
    .content input{
        width: 250px;
        height: 50px;
        margin-left: 10px;
       
        
    
    }
    .button{
       margin-left: 35px; 
    }
    
}
